.image {
    margin: 0 0 0 60px;
    display: flex;
    align-items: center;
}

.example-link {
    margin-right: 16px;
}
.example-link-icon {
    margin-right: 8px;
}

#components-page-header-demo-content .ant-page-header-rtl .example-link {
    float: right;
    margin-right: 0;
    margin-left: 16px;
}
#components-page-header-demo-content .ant-page-header-rtl .example-link-icon {
    margin-right: 0;
    margin-left: 8px;
}

@media (max-width: 768px) {
    #components-page-header-demo-content .image {
        flex: 100%;
        margin: 24px 0 0;
    }
}

.my {
    text-align: left;
}