body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

.addButtonBlock {
    margin-bottom: 25px;
    text-align: left;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
            ". . ."
            ". auth ."
            ". . .";
}

.auth {
    width: 100%;
    height: 100%;
    grid-area: auth;
    border-radius: 20px;
    background: linear-gradient(to left, #7bc9d4, #d8b3bbf2);
}
